body {
  justify-content: center;
  align-items: center;
  background-color: green;
}

.card {
  display: flex;
  margin: 25px;
  /* text-align: center; */
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 25px;
  font-size: 5rem;
  position: relative;
}

button {
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  color: white;
  border-radius: 15px;
  background-color: blue;
}
.iconUp {
  justify-items: right;
  padding: 10px;
  top: 10px;
  left: 10px;
  position: absolute;
}

.numberCard {
  position: absolute;
  justify-items: center;
  top: 180px;
  left: 120px;
}
.iconDown {
  position: absolute;
  bottom: 20px;
  right: 10px;
  transform: rotate(180deg);
}
